.discord-message .discord-mention {
	color: #7289da;
	background-color: rgba(114, 137, 218, 0.1);
	font-weight: 500;
	padding: 0 1px;
}

.discord-message .discord-mention:hover {
	color: #fff;
	background-color: rgba(114, 137, 218, 0.7);
}

.discord-message.discord-mention-highlight .discord-mention {
	background-color: unset !important;
}

.discord-message.discord-mention-highlight .discord-mention:hover {
	color: #7289da;
	text-decoration: underline;
}
