.discord-message .discord-author-info {
	color: #fff;
	display: inline-flex;
	align-items: center;
	font-size: 15px;
}

.discord-compact-mode .discord-message .discord-author-info {
	display: inline-flex;
	flex-direction: row-reverse;
}

.discord-message .discord-author-info .discord-author-username {
	font-size: 1.1em;
	font-weight: 500;
	letter-spacing: 0.5px;
}

.discord-compact-mode .discord-message .discord-author-info .discord-author-username {
	margin-left: 4px;
	margin-right: 4px;
}

.discord-light-theme .discord-message .discord-author-info .discord-author-username {
	color: #23262a;
}

.discord-message .discord-author-info .discord-author-bot-tag {
	background-color: #5865f2;
	font-size: 0.65em;
	margin-left: 5px;
	padding: 3px 4px;
	border-radius: 3px;
	line-height: 100%;
	text-transform: uppercase;
}

.discord-compact-mode .discord-message .discord-author-info .discord-author-bot-tag {
	margin-left: 0;
	margin-right: 5px;
	padding-left: 3px;
	padding-right: 3px;
	font-size: 0.6em;
}

.discord-light-theme .discord-message .discord-author-info .discord-author-bot-tag {
	color: #fff;
}
